<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /jobtracker/
    
    # Allow direct access to existing files and directories
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Rewrite all other requests to index.php
    RewriteRule ^(.*)$ public/index.php [QSA,L]
</IfModule>
